@font-face {
  font-weight: 700;
  font-family: "Open Sans Condensed";
  font-style: normal;
  src:
    url("../assets/fonts/opensans-condbold.woff2") format("woff2"),
    url("../assets/fonts/opensans-condbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans Condensed";
  font-style: normal;
  src:
    url("../assets/fonts/opensans-condlight.woff2") format("woff2"),
    url("../assets/fonts/opensans-condlight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src:
    url("../assets/fonts/opensans.woff2") format("woff2"),
    url("../assets/fonts/opensans.woff") format("woff");
  font-display: swap;
}

:root {
  --color-yellow: #ffe753;
  --bg-color-black: #232321;
  --border-grey-color: #dddddd;
  --color-red-error: #e16567;
  --set-open-sans-font-family: "Open Sans", Arial, sans-serif;
  --set-open-condensed-font-family: "Open Sans Condensed", Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-height: 100%;

  background-color: var(--bg-color-black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  position: relative;

  min-width: 980px;
  min-height: 900px;

  font-size: 14px;
  font-family: var(--set-open-sans-font-family);
  color: var(--color-yellow);
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}

.filters {
  padding: 15px 0;

  text-align: center;
}

.filters__item {
  padding: 0 16px;

  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;

  cursor: pointer;
}

.filters__radio {
  position: absolute;
  right: -100px;
  left: -100px;
}

.filters__radio:checked + .filters__item {
  color: black;
  text-decoration: none;

  background-color: white;
  border-radius: 2px;
}

.filters__item:focus {
text-decoration: none;
  outline: 1px solid var(--color-yellow);
}

.upload {
  position: absolute;
  left: 50%;

  width: 572px;
  height: 569px;
  margin: 5px 0 0 -291px;
  margin-top: 5px;
  padding: 0;

  background-image: url("../assets/img/logo-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.upload-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.upload-form {
  width: 582px;
  height: 569px;
}

.upload-image {
  position: relative;
  z-index: 1;

  background-image: url("../assets/img/logo-mask.png");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-resize,
.upload-filter {
  overflow: hidden;

  background-color: color-mod(black alpha(80%));
}

.resize-image-preview,
.filter-image-preview {
  max-width: 582px;
}


.upload-filter__preview--chrome,
.filter-chrome {
  filter: grayscale(1);
}

.upload-filter__preview--sepia,
.filter-sepia {
  filter: sepia(1);
}

.upload-filter__preview--marvin,
.filter-marvin {
  filter: invert();
}

.upload-input {
  visibility: hidden;
}

.upload-control {
  position: absolute;
  top: 193px;
  left: 202px;

  width: 182px;
  height: 182px;
  margin: 0;
  padding: 0;

  background-image: url("../assets/img/icon-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.upload-submit {
  background-image: url("../assets/img/upload-button.png");
  background-repeat: no-repeat;
}

.upload-file {
  display: block;
}

.upload-submit {
  display: none;
}

.upload-input-hasvalue + .upload-file {
  display: none;
}

.upload-input-hasvalue + .upload-file + .upload-submit {
  display: block;
}

.upload-form__list-control {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  padding: 0 10px 10px 10px;

  border: 0;
}

.upload-form__item-control {
  display: block;
  width: 42px;
  height: 42px;
  padding: 0;

  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.upload-form__item-control--prev {
  float: left;

  background-color: color-mod(white alpha(20%));
  background-image: url("../assets/img/icon-cross.png");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-form__item-control--fwd {
  float: right;

  background-color: rgba(255, 231, 83, 0.2);
  background-image: url("../assets/img/icon-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-form__item-control--fwd:disabled {
  opacity: 0.5;
}

.upload-resize canvas {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 1200px;
  max-height: 1200px;

  transform: translate(-50%, -50%);
  cursor: move;
}

.upload-resize__list-control,
.upload-filter__controls {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2;

  width: 470px;
  padding: 0;

  font-size: 12px;
  line-height: 42px;
  text-align: center;
  color: white;

  border: 0;
  transform: translateX(-50%);
}

.upload-resize__item-control {
  width: 75px;
  height: 32px;
  margin-top: -3px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 0 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--set-open-sans-font-family);
  vertical-align: middle;
  text-align: center;
  color: black;

  border: none;
  border-radius: 2px;
}

.upload-resize__item-label {
  position: absolute;

  width: 75px;
  margin-top: 32px;
  margin-left: -95px;

  font-size: 12px;
  text-align: center;
}

.upload-filter {
  line-height: 569px;
  text-align: center;
}

.filter-image-preview {
  vertical-align: middle;
}

.upload-filter__controls input[type=radio] {
  position: absolute;

  visibility: hidden;
}

.upload-filter__label {
  display: inline-block;
  margin: 0 5px;
  font-weight: 700;

  font-size: 14px;
  font-family: var(--set-open-condensed-font-family);
  vertical-align: middle;
  color: white;
  text-transform: uppercase;

  cursor: pointer;
}

.upload-filter__label:hover,
input[type=radio]:checked + .upload-filter__label {
  color: var(--color-yellow);
}

input[type=radio]:checked + .upload-filter__label .upload-filter__preview {
  border-color: var(--color-yellow);
}

.upload-filter__preview {
  display: block;
  width: 70px;
  height: 70px;

  margin-bottom: 5px;

  overflow: hidden;
  background-position: center;
  background-size: 100% auto;
  border: solid 4px transparent;
  border-radius: 5px;
}

.upload-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  padding: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 569px;
  text-align: center;
  color: var(--color-yellow);

  background-color: #3c3614;
}

.upload-message-error {
  color: var(--color-red-error);

  border: solid 5px rgb(130, 30, 0);
}

.upload-message-error a {
  color: var(--color-red-error);
}

.upload-message-container {
  display: inline-block;

  line-height: 1.2;
  vertical-align: middle;
}

.container {
  width: 992px;
  margin-right: auto;
  margin-left: auto;
}

.pictures {
  padding-bottom: 120px;
  padding-left: 12px;

  font-size: 12px;
  text-align: left;
}

.pictures-loading::after,
.pictures-failure::after {
  position: absolute;
  top: 260px;
  left: 50%;
  z-index: 2;

  width: 200px;
  margin-left: -100px;
  padding: 20px;

  font-size: 30px;
  text-align: center;
  color: white;

  background-color: color-mod(black alpha(70%));
  border-radius: 10px;
}

.pictures-loading::after {
  content: "Загрузка...";
}

.pictures-failure::after {
  content: "Ошибка загрузки";
}

.picture {
  position: relative;

  display: inline-block;
  width: 182px;
  height: 182px;
  margin-right: 14px;
  margin-bottom: 14px;
  overflow: hidden;
  vertical-align: top;

  text-align: center;
  color: var(--color-yellow);
}

.picture:focus {
  outline: 3px ridge var(--color-yellow);
}

.picture__img {
  height: 182px;
  margin-bottom: -34px;

  border: 0;
}

.picture:nth-of-type(2n-1):nth-of-type(-n+6) {
  margin-right: 600px;
}

.picture-load-failure {
  line-height: 182px;

  background-image: url("../assets/img/icon-cross.png");
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px color-mod(white alpha(20%));
  opacity: 0.3;
}

.picture-load-failure img {
  display: none;
  width: 182px;
  height: 182px;
}

.picture__stats {
  display: none;
  padding: 0 10px;

  line-height: 24px;
  color: white;

  background-color: color-mod(black alpha(30%));
  border-radius: 2px;
}

.picture:hover .picture__stats {
  display: inline-block;
  vertical-align: middle;
}

.picture-load-failure .picture__stats {
  position: relative;
  top: -12px;

  line-height: 1.3;
  vertical-align: bottom;
}

.picture__stat {
  position: relative;

  margin: 0 5px;

  font-weight: bold;
  font-size: 14px;
}

.picture__stat::before {
  content: "";
  position: relative;
  top: -1px;

  display: inline-block;
  margin: 0 2px;

  vertical-align: middle;

  background-image: url("../assets/img/image-icons-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.picture__stat--comments::before {
  width: 20px;
  height: 16px;

  background-position: 0 0;
}

.picture__stat--likes::before {
  width: 19px;
  height: 15px;

  background-position: -21px 0;
}

@media (min-width: 1380px) {
  .container {
    width: 1392px;
  }

  .picture:nth-of-type(2n-1):nth-of-type(-n+6) {
    margin-right: 12px;
  }

  .picture:nth-of-type(2),
  .picture:nth-of-type(6),
  .picture:nth-of-type(10) {
    margin-right: 602px;
  }
}

.gallery-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  overflow: auto;

  text-align: center;

  background-color: color-mod(black alpha(80%));
}

.gallery-overlay__button {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 2;

  padding: 0 10px;

  font-size: 45px;
  font-family: var(--set-open-sans-font-family);
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.gallery-overlay__preview {
  display: inline-block;
  vertical-align: middle;
  margin: 30px 0;

  background-color: white;
}

.gallery-overlay__image {
  display: block;
  width: 640px;
  height: 640px;

  border: dotted 1px var(--border-grey-color);
  cursor: pointer;
}

.gallery-overlay__controls {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.gallery-overlay__comments,
.gallery-overlay__likes {
  padding: 0 20px;

  line-height: 40px;
}

..gallery-overlay__comments {
  text-align: left;
}

..gallery-overlay__likes {
  width: 170px;

  text-align: right;
}

.likes__count {
  cursor: pointer;
}

.likes__count::before {
  content: "";

  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 5px;

  vertical-align: middle;

  background-image: url("../assets/img/icon-heart-sprite.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.likes-count-liked::before {
  background-position-x: -18px;
}

.footer {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;

  height: 115px;
  padding: 20px 0 40px;

  font-size: 12px;
  font-family: var(--set-open-sans-font-family);
  color: white;

  border-top: solid 1px #cccccc;
}

.footer__wrapper {
  display: flex;
  width: 100%;
}

.footer__logo-link,
.social__item {
  color: white;
}

.footer__logo,
.footer__social {
  flex-basis: 50%;
  width: 50%;
}

.footer__logo {
  position: relative;

  padding-top: 55px;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  opacity: 0.6;
}

.footer__logo-image {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__social {
  text-align: right;
}

.social__item {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  overflow: hidden;

  list-style: none;
  font-size: 0;
  vertical-align: top;
  text-indent: -1999em;

  background-image: url("../assets/img/social-sprite.png");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.social__item:hover,
.social__item:focus {
  outline: none;
  opacity: 1;
}

.social__item--instagram {
  background-position: -28px 0;
}

.social__item--facebook {
  background-position: -56px 0;
}

.social__item--vk {
  background-position: -84px 0;
}
