<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Nikolay Solodukhin">
  <link type="font/woff2" href="<%= require(`assets/fonts/opensans-condbold.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/opensans.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <link type="font/woff2" href="<%= require(`assets/fonts/opensans-condlight.woff2`) %>" rel="preload" as="font" crossorigin="anonymous">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <title>Кекстаграм</title>
</head>

<body class="page">

  <form class="filters hidden" action="index.html" method="get" autocomplete="off">
    <input class="filters-radio" type="radio" id="filter-popular" name="filter" value="popular">
    <label class="filters-item" for="filter-popular">Популярные</label>

    <input class="filters-radio" type="radio" id="filter-new" name="filter" value="new">
    <label class="filters-item" for="filter-new">Новые</label>

    <input class="filters-radio" type="radio" id="filter-discussed" name="filter" value="discussed">
    <label class="filters-item" for="filter-discussed">Обсуждаемые</label>
  </form>

  <div class="upload">
    <form class="upload-form upload-image" id="upload-select-image" method="post" enctype="multipart/form-data">
      <input class="upload-input" type="file" id="upload-file" name="filename" required>
      <label class="upload-file upload-control" for="upload-file"></label>
      <button class="upload-submit upload-control" type="submit"></button>
    </form>

    <form class="upload-form upload-resize invisible" id="upload-resize" method="post" enctype="multipart/form-data">
      <input class="invisible" type="text" name="resize-image-src" id="resize-image-src">

      <fieldset class="upload-resize-controls">
        <input class="upload-resize-control" type="number" id="resize-x" name="x">
        <label class="upload-resize-label" for="resize-x">Слева, px</label>

        <input class="upload-resize-control" type="number" id="resize-y" name="y">
        <label class="upload-resize-label" for="resize-y">Сверху, px</label>

        <input class="upload-resize-control" type="number" id="resize-size" name="size">
        <label class="upload-resize-label" for="resize-size">Сторона, px</label>
      </fieldset>

      <fieldset class="upload-form-controls">
        <button class="upload-form-controls-prev" type="reset" id="resize-prev" name="prev"></button>
        <button class="upload-form-controls-fwd" type="submit" id="resize-fwd" name="fwd"></button>
      </fieldset>
    </form>

    <form class="upload-form upload-filter invisible" id="upload-filter" method="post" enctype="multipart/form-data">
      <img src="" class="filter-image-preview">
      <input class="invisible" type="text" name="filter-image-src" id="filter-image-src">

      <fieldset class="upload-filter-controls">
        <input type="radio" name="upload-filter" id="upload-filter-none" value="none" checked>
        <label class="upload-filter-label" for="upload-filter-none">
          <div class="upload-filter-preview"></div>
          Оригинал
        </label>

        <input type="radio" name="upload-filter" id="upload-filter-chrome" value="chrome">
        <label class="upload-filter-label upload-filter-label-chrome" for="upload-filter-chrome">
          <div class="upload-filter-preview"></div>
          Хром
        </label>

        <input type="radio" name="upload-filter" id="upload-filter-sepia" value="sepia">
        <label class="upload-filter-label upload-filter-label-sepia" for="upload-filter-sepia">
          <div class="upload-filter-preview"></div>
          Сепия
        </label>

        <input type="radio" name="upload-filter" id="upload-filter-marvin" value="marvin">
        <label class="upload-filter-label upload-filter-label-marvin" for="upload-filter-marvin">
          <div class="upload-filter-preview"></div>
          Марвин
        </label>
      </fieldset>

      <fieldset class="upload-form-controls">
        <button class="upload-form-controls-prev" type="reset" id="filter-prev" name="prev"></button>
        <button class="upload-form-controls-fwd" type="submit" id="filter-fwd" name="fwd"></button>
      </fieldset>
    </form>

    <div class="upload-message invisible">
      <div class="upload-message-container"></div>
    </div>
  </div>

  <div class="pictures container">
  </div>

  <footer class="footer container">
    <div class="center-wrapper">
      <section class="footer-logo">
        Сделано в
        <a class="footer-logo-link" tabindex="1" href="http://htmlacademy.ru">
          <img class="footer-logo-image" src="<%= require(`assets/img/ha-logo.png`) %>" width="130" alt="HTML Academy" />HTML Academy</a> &copy; 2018
      </section>
      <nav class="footer-social">
        <a class="footer-social-item footer-social-item-twitter" tabindex="1" href="https://twitter.com/htmlacademy_ru" alt="twitter"
          target="_blank" rel="nofollow">Twitter</a>
        <a class="footer-social-item footer-social-item-instagram" tabindex="1" href="https://www.instagram.com/htmlacademy/" alt="instagram"
          target="_blank" rel="nofollow">Instagtam</a>
        <a class="footer-social-item footer-social-item-facebook" tabindex="1" href="https://www.facebook.com/htmlacademy" alt="facebook"
          target="_blank" rel="nofollow">Facebook</a>
        <a class="footer-social-item footer-social-item-vk" tabindex="1" href="https://vk.com/htmlacademy" alt="vk" target="_blank"
          rel="nofollow">VK</a>
      </nav>
    </div>
  </footer>


  <div class="gallery-overlay invisible">
    <span class="gallery-overlay-close">&times;</span>
    <div class="gallery-overlay-preview">
      <img class="gallery-overlay-image" src="" alt="">
      <div class="gallery-overlay-controls">
        <div class="gallery-overlay-controls-like">Нравится
          <span class="likes-count">0</span>
        </div>
        <div class="gallery-overlay-controls-comments">
          <span class="comments-count">125</span> комментариев</div>
      </div>
    </div>
  </div>

  <template id="picture-template">
    <a class="picture" href="">
      <img class="" src="" width="182" height="182">
      <span class="picture-stats">
        <span class="picture-stat picture-comments"></span>
        <span class="picture-stat picture-likes"></span>
      </span>
    </a>
  </template>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

</body>

</html>
